<div class="card mb-4 shadow-sm">
	<div class="card-header">
    <div class="col-md-11">
      <h1 class="my-3 font-weight-normal">Dashboard - Client Side</h1>
    </div>
	</div>

	<div class="card-body">
		{{app-architecture-layout
			svg="/assets/images/projects/hackneyhorse_architecture.svg"
			viewbox="0 0 993 745"}}
	</div>
</div>

{{outlet}}
