<div class="card mb-4 shadow-sm">
	<div class="card-header">
    <div class="col-md-11">
      <h1 class="my-3 font-weight-normal">Event-Driven Dashboard - Client/Server Sides</h1>
    </div>
	</div>

	<div class="card-body">
		{{app-architecture-layout
			svg="/assets/images/projects/nutcracker_rooks_architecture.svg"
			viewbox="0 0 835 660"}}
	</div>
</div>

{{outlet}}
