<div class="card mb-4 shadow-sm">
	<div class="card-header">
    <div class="col-md-11">
      <h1 class="my-3 font-weight-normal">Heterogeneous Resource Mining/ETL - Server Sides</h1>
    </div>
	</div>

	<div class="card-body">
		{{app-architecture-layout
			svg="/Reflection-Dev/assets/images/projects/shirehorse_architecture.svg"
			viewbox="10 20 170 100"}}
	</div>
</div>

{{outlet}}
