<div class="jumbotron">
  <img class="fadeIn fadeIn-1s"
       src="/Reflection-Dev/assets/images/research/mdsd.png"
       alt="Domain Engineering"
       height="100%"
       width="100%">
</div>

{{outlet}}
