<div class="jumbotron">
  <img class="fadeIn fadeIn-1s"
       src="/assets/images/research/infovis.png"
       alt="Information Visualisation"
       height="100%"
       width="100%">
</div>

{{outlet}}
